*{
    margin: 0px;
    padding: 0px;
}


h1{
    text-align: center;
    border-bottom:solid 3px blue;
    padding: 1%;
}
.btn{
    background-color: #61B7FF;
    font-weight: bold;
    font-size: 16px;
    color: #042F52;
}
h4{
    padding: 1%;
}
#menu button  {
    width: 35%;
}
#menu{
    text-align: center;
    width: 100%;
}

table,td , th{
    border: solid 2px rgba(0, 0, 0, 0.589);
    padding: 10px;
    margin-top: 10%;
    margin-right: 10%;
    text-align: center;
}

th{
    font-weight: bold;
    background-color: rgb(149, 207, 246);
    text-align: center;
    padding: 3%;
}